a {
  text-decoration: none;
  padding: 20px;
  display: block;
}

a:visited {
  color: black;
}

a:hover {
  color: rgb(216, 178, 179);
}

nav {
  display: flex;
}
ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.nav__container {
  width: 100%;
}

.nav__wrapper {
  width: 60%;
  padding: 0 20%;
}
li {
  list-style: none;
  float: left;
}

.nav__btn {
  background-color: rgb(249, 236, 213);
  border: none;
  border-radius: 10px;
  width: 20%;
}

.nav__btn:hover > a {
  color: rgb(216, 178, 179);
}

.nav__btn:hover {
  background-color: rgb(137, 0, 0);
}

.body__title {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  color: rgb(137, 0, 0);
}
